.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

button {
  margin-right: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.btn-container{
  display: flex;
  justify-content: flex-end;
  grid-column-start: 2;
  grid-row-start: 6;
}
